---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Title from '../components/Title.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Title title="Now" />
            <section class="page-content">
                <div class="page-intro">
                    <p>Current things I'm focusing on, hobbies, side quests and assorted miscellani.</p>
                    <p>Read more at <a href="https://nownownow.com/about">nownownow.com</a></p>
                </div>
                <div class="page-content-inner">
                    <h2 class="scramble">&lt;December 2025&gt;</h2>
                    <h3>Professionally</h3>
                    <p>As part of my advocacy work at <a href="https://zeroheight.com">zeroheight</a>, I'm currently building a big 'ol design system as an example of how to show off the product. Trying to build something that looks, feels and operates like a real, enterprise design system, but not overengineering it. It's a task...</p>
                    <p>Otherwise, it's the end of the year, so I'm spending a lot of time thinking about what's next for design systems, and trying to do some future-gazing. At the moment, it feels like a lot of what I was talking about last year is still in play, from design system's gradual creep towards mass adoption, to the real-money impact of AI on design systems, to the commodification of what we do.</p>
                    <h3>Side quests</h3>
                    <p>I'm still working on my vinyl subscription service, <a href="https://nothingsoundsgood.club">Nothing Sounds Good</a>, making the releases better each month, and spending way too much time on the zine and prints. We've sent some amazing records this year already, including Soot Sprite, Regal Cheer, SUDS, Really Big, Really Clever, and of course Brutalligators.</p>
                    <p>My band, <a href="https://open.spotify.com/artist/6PQwcg9SjBaPxGhqWeSIs5?si=ZtnMRfaESBi6WduhqbZl7Q">Brutalligators</a>, have released the album! Tomorrow (Dec 19) is our annual Brutallixmas gig in London, and I'm looking forward to seeing if it's going to be as batshit as last year's. Here's hoping I get to stage dive again.</p>
                    <h3>Personally</h3>
                    <p>Doing lots of self-reflection, because I'm a sucker for year-end looking back. I think this year has been pretty good... I switched back to advocacy at work, I got married, went to too many conferences, launched a side-business with Nothing Sounds Good, started and sunset a meetup (Side Quest), co-organized a couple of awesome conferences (WDC and Converge), and released an album. All in all, a good year. At the same time, I'd like some free time back, please.</p>
                </div>
            </section>
		</main>
		<Footer />
	</body>
</html>
