---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Title from '../components/Title.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<Title title="Now" />
            <section class="page-content">
                <div class="page-intro">
                    <p>Current things I'm focusing on, hobbies, side quests and assorted miscellani.</p>
                    <p>Read more at <a href="https://nownownow.com/about">nownownow.com</a></p>
                </div>
                <div class="page-content-inner">
                    <h2 class="scramble">&lt;January 2026&gt;</h2>
                    <h3>Professionally</h3>
                    <p>As part of my advocacy work at <a href="https://zeroheight.com">zeroheight</a>, I just finished building a design system as an example of how to show off the product. Trying to build something that looks, feels and operates like a real, enterprise design system, but not overengineering it. It was a task. You can read more about it, because I wrote a <a href="/product-design/baseline-design-system">case study about it</a>.</p>
                    <p>Now, I'm pulling together the report for this year's Design System Report that we do every year. It's a lot of data, and a lot of work, but it's a good way to get a bit of a pulse on what's happening in design systems right now, and how it's changed year on year.</p>
                    <h3>Side quests</h3>
                    <p>I'm still working on my vinyl subscription service, <a href="https://nothingsoundsgood.club">Nothing Sounds Good</a>, making the releases better each month, and spending way too much time on the zine and prints. We've sent some amazing records this year already, including Soot Sprite, Regal Cheer, SUDS, Really Big, Really Clever, and of course Brutalligators.</p>
                    <p>My band, <a href="https://open.spotify.com/artist/6PQwcg9SjBaPxGhqWeSIs5?si=ZtnMRfaESBi6WduhqbZl7Q">Brutalligators</a>, have released the album! We're right in the middle of playing a bunch of gigs at venues we frankly don't deserve to play at, like The Lexington in London.</p>
                    <h3>Personally</h3>
                    <p>Just trying to figure out what my head is doing, to be honest. Been listening to a lot of Pool Kids, Native James and Like Roses. I'm already up to six books this year, and I've already watch a bunch of movies, catching up on last year. So far, 2026 is pretty alright.</p>
                </div>
            </section>
		</main>
		<Footer />
	</body>
</html>
